@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face declaration for custom fonts */
@font-face {
  font-family: 'Nohemi';
  src: url('/public/fonts/Nohemi-Regular.woff2') format('woff2'),
    url('/public/fonts/Nohemi-Medium.woff2') format('woff2'),
    url('/public/fonts/Nohemi-Light.woff2') format('woff2'),
    url('/public/fonts/Nohemi-ExtraLight.woff2') format('woff2');
}

a {
  margin: 0;
}

h1 {
  font-family: 'Miama Nueva', sans-serif;
  font-weight: normal;
  font-style: italic;
}
